<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Name }} - Forbidden</title>
</head>
  <body class=" bg-black">
    <script src="./static/pixel-canvas.js" type="module"></script>
    <!--CONTENT-->
    <style>
      .lelement {
        background-color: #000;
        color: #fff;
        transition: filter 0.3s ease;
      }

      .lelement:hover {
        filter: invert(100%);
      }
    </style>
    <div id="wrapper" class="flex w-[100vw] h-[100vh] items-center justify-center align-middle">
        <pixel-canvas
          data-gap="10"
          data-speed="35"
          data-colors="#FEE6E0, #FC967D, #E9500E"
          data-no-focus="true"
        ></pixel-canvas>
        <div class=" bg-[#00000f] p-2 absolute z-0">
    <div id="msg-nocookie" class="">
        <span class="text-danger"><b>You have not been logged in,</b></span><br>
        as the character you selected is not permitted to access this site.<br><br>
        Redirecting to login page (10s)...
    </div>
    <div id="msg-unauthorized" class="d-none">
        You are logged in. However,<br>
        <span class="text-danger"><b>The current character is not permitted to access this service.</b></span><br><br>
        You may:<br>
        <button onclick= "window.location.href='/logout?' + new URLSearchParams(window.location.search).get('redirect') ? 'redirect=' + new URLSearchParams(window.location.search).get('redirect') : ''">Log out</button> of this session<br>
        <button onclick= "window.location.href='/purge?' + new URLSearchParams(window.location.search).get('redirect') ? 'redirect=' + new URLSearchParams(window.location.search).get('redirect') : ''">Log out all </button> sessions with this character.
    </div>
</div>

<script>
    const params = new URLSearchParams(window.location.search);
    const redirect = params.get('redirect');
    const loginUrl = '/login' + (redirect ? '?redirect=' + redirect : '');

    if (params.get('nocookie') === 'true') {
        document.getElementById('msg-nocookie').classList.remove('d-none');
        setTimeout(() => window.location.href = loginUrl, 10000);
    } else {
        document.getElementById('msg-unauthorized').classList.remove('d-none');
        document.getElementById('msg-unauthorized').querySelector('button').onclick = function() {
            document.cookie = 'evefa_session_token=;expires=Thu, 01 Jan 1970 00:00:00 UTC;path=/';
            window.location.href = loginUrl;
        };
    }
</script>
</div>
    </div>
</body>
</html>