<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Authentication Required" />
    <meta property="og:description" content="Log in with your EVE Online account to access this resource" />
    <meta property="og:type" content="website" />
    <title>{{ .Name }} - Sign in</title>
</head>
  <body class="k">
    <script type="module" src="/static/pixel-canvas.js"></script>
    <link rel="stylesheet" href="/static/app.css">
    <div class="flex flex-col w-[100dvw] h-[100dvh] z-0 items-center justify-center">
      <div class="z-0 absolute w-full h-full top-0 left-0">
          <pixel-canvas
          data-gap="15"
          data-speed="25"
          data-colors="#e0f2fe, #7dd3fc, #0ea5e9"
          data-no-focus="true"
        ></pixel-canvas>
      </div>
      <div class="relative self-center bg-[#00000f] min-h-10 min-w-10 font-eve text-eve-md text-eve-bright">
        EVE TEST TEXT
      </div>

    </div>
    <!--  -->
        <script>
            function handleLogin() {
              const redirect = new URLSearchParams(window.location.search).get('redirect');
              window.location.href = './dologin' + (redirect ? '?redirect=' + encodeURIComponent(redirect) : '');
            }
          </script>
</body>
</html>