<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Authentication Required" />
    <meta property="og:description" content="Log in with your EVE Online account to access this resource" />
    <meta property="og:type" content="website" />
    <title>{{ .Name }} - Sign in</title>
</head>
  <body class=" bg-black">
    <script src="./static/pixel-canvas.js" type="module"></script>
    <!--CONTENT-->
    <style>
      .lelement {
        background-color: #000;
        color: #fff;
        transition: filter 0.3s ease;
      }

      .lelement:hover {
        filter: invert(100%);
      }
    </style>
    <div id="wrapper" class="d-flex justify-content-center align-items-center vh-100">
        <pixel-canvas
          data-gap="15"
          data-speed="25"
          data-colors="#e0f2fe, #7dd3fc, #0ea5e9"
          data-no-focus="true"
        ></pixel-canvas>
        <div class="bg-light p-2 rounded shadow position-absolute z-0">
          <button onclick="handleLogin()" class="p-0 border-0">
            <img src="./static/sso.png" width="300px" class="lelement">
          </button>

          <script>
            function handleLogin() {
              const redirect = new URLSearchParams(window.location.search).get('redirect');
              window.location.href = './dologin' + (redirect ? '?redirect=' + encodeURIComponent(redirect) : '');
            }
          </script>
        </div>

    </div>
</body>
</html>